body{
    margin: 0px;
    font-size: 12px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.outerclass{
    background: #1D1D1F;
    height: 50px;
}
.container{
    width:968px;
    margin-left: auto;
    margin-right: auto;
}
.top {
margin:0px;
padding: 0px;
}
.top li{
    list-style: none;
    display: inline-block;
    color:#F5F5F7 ;
    padding: 8px;
    margin-top: 10px;
}

 .apple {
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url(images/logo.svg);
    background-position: center center;
    display: block;
    width: 50px;
    opacity: 0.8;
}
.apple:hover{
    opacity: 1;
}
.apple span{
    font-size: 0px;
}

.search {
    background-size: 14px 82px;
    background-repeat: no-repeat;
    background-image: url(images/search.svg);
    background-position: center center;
    display: block;
    width: 50px;
    opacity: 0.8;
    background-position: 0px -12px;
}
.search span{
    font-size: 0px;
}
.cart {
    background-size: 15px 41px;
    background-repeat: no-repeat;
    background-image: url(images/cart.svg);
    background-position: center center;
    display: block;
    width: 40px;
    opacity: 0.8;
    background-position: 0px -12px;
}
.cart span{
    font-size: 0px;
}
.para {
    align-items: center;
    font-size: 14px;
    display:inline-block;
    padding:12px 0px;
    width: 100%;

    
    text-align: center;
}
.iphone{
    color:black;
    text-align: center;
    background-color: #fbfbfd;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
padding-top: 20px;
    
}
.iphone ul li a{
    text-decoration: none;
}
.iphone ul li a:hover{
    text-decoration: underline;
}
.iphone ul li
{
    list-style: none;
}    

.image{
   width: auto;
   height: 500px;

}
.space{
    padding-left: 50px;
    text-decoration: none;

}
.space :hover{
    text-decoration: underline;
}

.second h1 h2 a{ 
    margin: 0;
    padding: 0 0 0;
}
.second{   
    text-align: center;
    font-size: 15px;
    color:#F5F5F7;
    margin-top: 20px;
    line-height: 20px;
    padding-top: 20px;
}
.third2{   
    text-align: center;
    font-size: 15px;
    color:#000;
    margin-top: 10px;
    line-height: 20px;
    padding-top: 20px;
}
.b{
    padding-top: 0px;
    color:pink;
    padding-top: 4px;
}
.second a{
    text-decoration: none;
    padding-left: 50px;
    color: royalblue;
    
}
.third2 a{
    text-decoration: none;
    padding-left: 50px;
    color: royalblue;
    
}
.third2 a:hover{
    text-decoration: underline;
}
.second a:hover{
    text-decoration: underline;
}
.outerbox{
    width: 100%;
    height:500px;
    background:#fbfbfd;
    display: flex;
    justify-content: space-between;
    margin-top: -249px;
    text-align: center;
    text-decoration: none;
}
.outerbox a{
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}
.outerbox a:hover{
    text-decoration: underline;
    
}
.outerbox h6{
    color: tomato;
}
.outerbox h2{
    color:black;
}

.box1{

    height:500px;
    background: #f5f5f7;
    
}
.box2{
    padding-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.box2 a{
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}
.box2 a:hover{
    text-decoration: underline;
}
.second{
    background: url(images/hero_iphone_13__f194u1rdooeq_large.jpg) no-repeat bottom center #4c0d83;
    min-height: 500px;
    font-size: 20px;
}
.third2{
    background: url(images/hero_macbookpro__eatonjfwvuc2_large.jpg) no-repeat top center #fafafa;
    min-height: 700px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 10px;
}
.third2 h1{
    margin: 2px;
    padding: 10px;    
}
.second h1{
    margin: 0px;
    padding: 5px;
}
.footer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.footerlinks{
    display:flex;
    justify-content: space-between;
    
}
.footerlinks ul li{
    list-style: none;
    line-height: 25px;
}
.footerlinks a{
    text-decoration: none;
    color:black;

}
.footerlinks a:hover{
    text-decoration: underline;
}
.retail a{
    text-decoration: none;
}
.retail a:hover
{
    text-decoration: underline;
}
.copy ul li
{
    list-style: none;
    display:inline-block ;
    padding-left: 50px;
    padding-block:10px;
}


 

    

